<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
    <script th:src="@{/js/tickets/ticket.js}"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<form th:action="@{/ticket/create}" th:method="post" th:object="${ticket}" id="ticket-form">
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			
				<div class="row">	  
					<div class="col-lg-9">
						<h1 class="display-4">New ticket entry</h1>
					</div>
			    	<div class="col-lg-3">
			    		
			    	</div>	  
			    </div>
			
		</div>		
	</div>
		
	
		<div class="row">
		
			<div class="col-lg-3">
				<div class="card">
					<h5 class="card-header">General</h5>
					<div class="card-body">				    
					    
							<div class="form-group">
					    		<label for="purchaser">Purchaser</label>
					    		<select class="form-control" th:field="*{purchaseUser}" >
					    			<option th:each="user : ${users}" th:text="${user.firstName}" th:value="${user.id}"></option>
					    		</select>
					  		</div>
					  		<div class="form-group">
					    		<label for="purchase-date">Purchase Date</label>
					    		<input type="text" class="form-control" th:field="*{purchaseDate}"></input>
					  		</div>
					  		<div class="form-check">
							  <input class="form-check-input" type="checkbox" value="" th:field="*{isPowerplay}"></input>
							  <label class="form-check-label" for="defaultCheck1">
							    Powerplay
							  </label>
							</div>
						    
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="card">
					<div class="card-header">
						<h5>Numbers</h5>
						<button type="button" class="btn btn-outline-success btn-sm add-button">Add</button>
					</div>
					<table class="table table-sm">
						<tr>
							<th>1</th>
							<th>2</th>
							<th>3</th>
							<th>4</th>
							<th>5</th>
							<th>6</th>							
							<th>Cost</th>
							<th></th>
						</tr>
						<tr th:each="numberGroup,i : ${ticket.numberGroups}" class="number-group-table-row" th:id="'number-group-table-row-' + ${i.index}" th:style="${i.index} == 0 ? '' : 'display:none;'">
							<td><input class="form-control" name="numberGroup" th:field="*{numberGroups[__${i.index}__].number1}"></input></td>
							<td><input class="form-control" name="numberGroup" th:field="*{numberGroups[__${i.index}__].number2}"></input></td>
							<td><input class="form-control" name="numberGroup" th:field="*{numberGroups[__${i.index}__].number3}"></input></td>
							<td><input class="form-control" name="numberGroup" th:field="*{numberGroups[__${i.index}__].number4}"></input></td>
							<td><input class="form-control" name="numberGroup" th:field="*{numberGroups[__${i.index}__].number5}"></input></td>
							<td><input class="form-control" name="numberGroup" th:field="*{numberGroups[__${i.index}__].number6}"></input></td>
							<td>
								<div class="input-group mb-2">
						        	<div class="input-group-prepend">
						          		<div class="input-group-text">$</div>
						        	</div>
						        	<input type="text" class="form-control" id="inlineFormInputGroup"/>
						      	</div>						    
						    </td>
							<td>
								<button type="button" class="btn btn-outline-danger btn-sm remove-button">Remove</button>
							</td>
						</tr>
					</table>					
				</div>
			</div>
			
		</div>
	<div class="row">
		<div class="col-lg-12">
			<button type="submit" class="btn btn-primary btn-lg">Submit</button>
			<button type="button" class="btn btn-outline-primary btn-lg">Cancel</button>
		</div>
		
	</div>
</div>
	
	</form>	

</body>
</html>